

.followerTab{
    width: 100%;
    padding-block: 6rem;
    border: 1px;
    position: relative;
    padding-bottom: 13rem;
  }
  
  .followerTab_title{
      width: 30rem;
      margin: 0 auto;
      padding: 0 0 6rem 0;
      text-align: center;
  }
  
  .followerTab_title h2{
      font-size: 3rem;
      margin-bottom: 4rem;
  }
  
  .followerTab_tabs_btn{
      background-color: var(--main-bg-color);
      padding: .5rem 1rem;
      border-radius: 4rem;
      display: flex;
      justify-content:  space-around;
      gap: 1rem;
      align-items: center;
      font-size: 1.2rem;
      box-shadow: var(--box-shadow);
  }
  
  .followerTab_tabs_btn button{
      background-color: var(--icons-color);
      color: var(--main-bg-color);
      padding: 1rem;
      border: none;
      border-radius: 4rem;
      cursor: pointer;
      border: 1px solid var(--icons-color);
      transition: all .3s ease-in;
  }
  
  .followerTab_tabs_btn button:hover{
      background-color: transparent;
      color: var(--icons-color);
  }
  
  .followerTab_box{
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
  }
  
  .followerTab_member{
      text-align: center;
  }
  
  .followerTab_member_box{
      margin:  0 auto;
      padding: 7rem 0 0 0;
      align-items:  center;
  }
  
  .followerTab_member_box a:first-child{
      background-color: transparent;
      color: var(--icons-color);
      transition:  all .3s ease-in;
  }
  
  .followerTab_member_box a:hover{
      background-color: var(--icons-color);
      color: var(--main-bg-color);
  }
  
  
  .followerTab_member_box a{
      background-color: var(--icons-color);
      margin-inline: 1.5rem;
      padding: 1rem 2rem;
      color: var(--main-bg-color);
      border-radius: 2rem;
      border:  1px solid var(--icons-color);
      box-shadow:  var(--box-shadow);
      font-size: 1.3rem;
  }
  
  @media screen and (min-device-width: 320px) and (max-device-width: 425px) {
      .followerTab{
          padding-block: 6rem;
      }
  
      .followerTab_box{
          width: 90%;
          grid-template-columns: 1fr;
      }
  
      .followerTab_title{
          width: 90%;
      }
  
      .followerTab_title h2{
          font-size: 2rem;
      }
      .followerTab_member_box{
          gap: 0;
      }
      .followerTab_member_box a{
          font-size: .8rem;
          padding: .5rem 1rem;
      }
  
      .followerTab_tabs_btn button{
          font-size: 1rem;
      }
  }
  
  @media screen and (min-device-width: 428px) and (max-device-width: 769px) {
  .followerTab{
      grid-template-columns: repeat(2, 1fr);
    }
  
    .followerTab_title{
      width: 90%;
    }
  
    .followerTab_title h2{
      font-size: 3rem;
    }
  
    .followerTab_member_box a{
      font-size: 1rem;
      padding: .5rem 1rem;
    }
  }
  
  @media screen and (min-device-width: 428px) and (max-device-width: 769px) {
      .followerTab_title{
          width: 90%;
      }
  
      .followerTab_title h2{
          font-size: 3rem;
      }
  
      .followerTab_box{
          width: 90%;
          grid-template-columns: repeat(2, 1fr);
      }
  }