

.NFTDetailsPage{
    width: 100%;
    margin-block: 5rem;
}

.NFTDetailsPage_box{
    width: 80%;
    margin:  0 auto;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 5rem;
}

@media screen and (max-width: 50em) {
    .NFTDetailsPage{
        margin-block: 2rem;
    }

    .NFTDetailsPage_box{
        width: 90%;
        grid-template-columns: 1fr;
    }
}