

.subscribe{
    width: 100%;
}

.subscribe_box{
    width: 80%;
    margin: 0 auto;
    padding:  8rem 0;

    display: grid;
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
}

.subscribe_box_left h2{
    font-size: 3rem;
    line-height: 0;
}

.subscribe_box p{
    font-size: 1.2rem;
}

.subscribe_box_left_box{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.subscribe_box_left_box small{
    font-size: 1rem;
    font-weight: 700;
}

.subscribe_box_left_box span{
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    padding: .5rem 1rem;
    border-radius: 2rem;
    width: 4rem;
    text-align: center;
}

.subscribe_box_left_input{
    margin-top: 3rem;
    padding: 2rem;
    width: 80%;
    border-radius: 4rem;
    background-color: var(--icons-color);
    color: var(--main-bg-color);

    display: flex;
    align-items: center;
}

.subscribe_box_left_input input{
    background-color: transparent;
    border: 0;
    outline: none;
    width: 90%;
}

.subscribe_box_left_input input::placeholder{
    color: var(--main-bg-color);
    font-size: 1.2rem;
}

.subscribe_box_left_input_icon{
    font-size: 2rem;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px){
    .subscribe_box{
        width: 90%;
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    .subscribe_box_left_input{
        width: 100%;
        padding: 1rem;
    }

    .subscribe_box_left h2{
        font-size: 2rem;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .subscribe_box{
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }

    .subscribe_box_left_input{
        width: 100%;
        padding: 1rem;
    }

    .subscribe_box_left h2{
        font-size: 2rem;
    }
}