
.collection{
    width: 100%;
    padding: 3rem 0;
    padding-bottom: 10rem;
}

.collection_title{
    width: 35rem;
    margin:  0 auto;
    padding: 0 0 6rem 0;
    text-align: center;
}

.collection_title h2{
    font-size: 3rem;
    margin-bottom: 4rem;
}

.collection_collections_btn{
    background-color: var(--main-bg-color);
    padding: .5rem 1rem;
    border-radius: 4rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    font-size: 1.2rem;
    box-shadow: var(--box-shadow);
}

.collection_collections_btn button{
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    padding: 1rem;
    border: none;
    border-radius: 4rem;
    cursor: pointer;
    border: 1px solid var(--icons-color);
    transition:  all .3s ease-in;
}

.collection_collections_btn button:hover{
    background-color: transparent;
    color: var(--icons-color);
}

.collection_box{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}


@media screen and (min-device-width: 320px) and (max-device-width: 425px) {
    .collection_title{
        width: 90%;
    }

    .collection_box{
        width: 90%;
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .collection_collections_btn button{
        font-size: .7rem;
    }
}

@media screen and (min-device-width: 427px) and (max-device-width: 1024px) {
    .collection_title{
        width: 90%;
    }

    .collection_box{
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
}