.sidebar_box{
    padding: 2rem;
    border-bottom: 1px solid var(--icons-color);
    background-color: var(--main-bg-color);
}

.sidebar_closeBtn{
    position: absolute;
    top: 3rem;
    right: 2rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
    box-shadow: var(--box-shadow);

}

.sidebar_closeBtn:hover{
    transform: rotate(45deg);
}

.sidebar_box p{
    margin-top: -2rem;
}

.sidebar_social{
    display: flex;
    gap: 1.3rem;
    font-size: 1.5rem;
    align-items: center;
}

.sidebar_social a{
    padding: .2rem;
    border-radius: 50%;
    transition: all .3s ease-in;
    display: grid;
}

.sidebar_social a:hover{
    background-color:  var(--icons-color);
    color: var(--shadow-dark-color);
    box-shadow: 1px solid var(--icons-color);
}

.sidebar_menu{
    padding: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid var(--icons-color);
}

.sidebar_menu_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.sidebar_discover{
    padding-inline: 1rem;
}

.sidebar_button{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}