
.uploadNFT{
    width: 100%;
    margin-block: 8rem;
}

.uploadNFT_box{
    width: 60%;
    margin:  0 auto;
}

.uploadNFT_box_heading{
    border-bottom:  1px solid var(--shadow-dark-color);
}

.uploadNFT_box_heading h1{
    font-size: 3.5rem;
    line-height: .1;
}

.uploadNFT_box_heading p{
    font-size: 1.4rem;
    width: 70%;
    line-height: 1.2;
}

.uploadNFT_box_title{
    border-bottom:  1px solid var(--shadow-dark-color);
    margin-top: 4rem;
}

.uploadNFT_box_title h2{
    font-size: 2.5rem;
    line-height: 0;
}

.uploadNFT_box_title p{
    font-size: 1.1rem;
    font-weight: 500;
}
@media screen and (max-width: 35em) {
    .uploadNFT_box{
        width: 90%;
    }
    .uploadNFT_box_heading p{
        width: 100%;
    }

    .uploadNFT_box_heading h1{
        font-size: 2rem;
    }

    .uploadNFT_box_title h2{
        font-size: 1.5rem;
        line-height: 1.1;
    }
}