

.author_box{
    width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 6rem;
}

@media screen and (max-width: 35em) {
    .author_box{
        width: 90%;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .author_box{
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }
}